{#
    Craft Toolkit for SVG sprite <use>
 #}
{%- set width = opts.width ?? 32 -%}
{%- set height = opts.height ?? width -%}
{%- set viewBox = opts.viewBox ?? ('0 0 ' ~ opts.width ~ ' ' ~ height) %}

{%- set attrs = {
    viewBox: viewBox,
}  | merge(attrs) %}
{%- if svgSlug ?? false %}
  <svg {{ attr(attrs) }}>
    {%- if opts.title ?? false %}
      <title>{{ opts.title }}</title>
    {%- endif %}
    <use xlink:href="#{{ opts.svgSpriteIdPrefix }}{{ svgSlug }}" />
  </svg>
{%- endif %}
